
/* Importação das fontes do Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --azul__ciano-color:#22d4fd;
    --preto-color: #000000;
    --text-color:#f6f6f6;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #f6f6f6;
}

.apresentacao{
    margin: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap:40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__paragrado{

    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__conteudo__links{
    display: flex;
    justify-content: space-between;

}

.apresentacao__conteudo__links__link{
    background-color: var(--azul__ciano-color);
    width: 260px;
    text-align: center;
    border-radius: 16px;
    padding: 21.5px 0 ;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--preto-color);
}

strong{
    color: var(--azul__ciano-color);
    
}